---
// Acceder a props recibidas, por ejemplo `<X title="Hola Mundo" />`
const { title } = Astro.props;
const date = new Date();
// Consultar datos externos, de una API privada o base de datos
//const datos = await fetch('http://localhost:4321/api/me.json').then(r => r.json());
---

<!-- ¡Tu maquetado va aquí! -->
<footer>
  <span class="flex justify-center text-xl"> {date.getFullYear()}</span>
</footer>
