---
// Acceder a props recibidas, por ejemplo `<X title="Hola Mundo" />`

// Consultar datos externos, de una API privada o base de datos
//const datos = await fetch('http://localhost:4321/api/me.json').then(r => r.json());
import FaceIcon from "./icons/FaceIcon";
import LinkedinIcon from "./icons/LinkedinIcon";
---

<nav
  class="container sticky top-0 z-50 mb-1 flex w-full md:w-[1128px] items-center justify-between bg-neutral-100/80 py-4"
>
  <div class="flex flex-col justify-center items-center w-full">
    <a href="#" class="text-4xl">Guty.dev</a>
    <div class=""></div>
  </div>
  <div class="mr-5">
    <a href="/download/1.-CV-ES-Milton Adalid Gutierrez Barco.pdf">
      Download<img src="/images/download.svg" />
    </a>
  </div>
</nav>
